@charset "utf-8";

#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
}
#header.on {
  height: 114px;
  background: #029570;
}
.header_inner {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0 5px;
}

#header .logo {
  width: 150px;
}
#header .logo img {
  width: 100%;
}
#header .logo {
  width: 150px;
}
#header .gnb_wrap {
  width: 800px;
  display: flex;
  position: relative;
  margin: 0 60px 0 70px;
}
.gnb_wrap a {
  color: #fff;
  display: block;
  text-align: center;
}

.depth1 .depth1_tit {
  padding: 5px 28px 20px;
  position: relative;
}

.gnb_wrap .depth2 {
  display: flex;
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
}
.gnb_wrap .medical_info {
  left: 180px;
}
.gnb_wrap .business_info {
  left: 360px;
}
.gnb_wrap .depth2 > li > a {
  display: block;
  padding: 10px 43px;
  position: relative;
}
/* .gnb_wrap .depth2 > li:first-child {
  padding-left: 0;
} */

.gnb_wrap .medical_info > li:first-child > a {
  width: 200px;
}
.gnb_wrap .company_info > li > a {
  letter-spacing: -0.05em;
  padding: 10px;
}

.gnb_wrap .depth3 {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 20px 20px;
}
.gnb_wrap .depth3 a {
  font-size: 14px;
  line-height: 2.3;
  padding: 0 5px;
}
.gnb_wrap .depth3 a:hover {
  color: #d9d9d9;
}
.over::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#header .intro {
  width: 200px;
  padding-top: 5px;
}
#header .intro a {
  display: inline-block;
  color: #fff;
  background: url(../images/icon_global.svg) no-repeat left 2px;
  padding-left: 30px;
  height: 25px;
}
#header .intro .search {
  background: url(../images/icon_search.svg) no-repeat center center / cover;
  width: 25px;
  height: 25px;
  text-indent: -999em;
  margin-left: 50px;
}

/* container */
.section01 {
  position: relative;
}
.section01 .main_img {
  width: 100vw;
}
.section01 .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 100px;
}
.swiper-pagination span {
  width: 50px;
  height: 5px;
  border-radius: 0;
  background: #fff;
}
.main_quick_box {
  display: flex;
  width: 1000px;
  /* height: 90px; */
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  z-index: 999;
  background: #029570;
}
.quick_box {
  color: #fff;
  display: block;
  width: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.quick_box:last-child {
  border: none;
}
.quick_box dl {
  overflow: hidden;
  line-height: 90px;
  background: url(../images/main_arrow.png) no-repeat 90% center;
}
.quick_box dt,
.quick_box dd {
  float: left;
  padding-left: 20px;
  text-transform: uppercase;
}
.quick_box dd {
  opacity: 0.6;
}
.quick_box:hover dd {
  opacity: 1;
}

.banner {
  position: relative;
  height: 200px;
  margin: 100px 0;
}
.banner li {
  position: absolute;
  left: 0;
  top: 0;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner button {
  width: 50px;
  height: 50px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  position: absolute;
  top: 50%;
}
.banner .banner_prev {
  left: 40px;
  transform: rotate(-135deg);
}
.banner .banner_next {
  right: 40px;
  transform: rotate(45deg);
}

/*section02  */
.section02 .main_product {
  width: 1120px;
  height: 400px;
  margin: 90px auto;
  position: relative;
}
.btn_more {
  display: inline-block;
  background: #029570;
  color: #fff;
  padding: 15px 12px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 14px;
}
.main_product01 {
  background: url(../images/main_product01.jpg) no-repeat center center;
}
.main_product02 {
  background: url(../images/main_product02.png) no-repeat center center;
}
.main_product03 {
  background: url(../images/main_product03.png) no-repeat center center;
}
.main_product04 {
  background: url(../images/main_product04.png) no-repeat center center;
}

.product_info {
  width: 40%;
  padding: 85px 0;
}
.main_product01 .product_info,
.main_product03 .product_info {
  color: #fff;
  margin-left: 100px;
}
.main_product02 .product_info,
.main_product04 .product_info {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}
.product_info .product_tit {
  position: relative;
}
.product_info .product_tit::before {
  position: absolute;
  left: 0;
  bottom: -8px;
  content: '';
  width: 80px;
  height: 5px;
  background: #029570;
}
.product_info .product_txt {
  padding: 30px 0;
  font-size: 14px;
}

/* section03 */
.section03 {
  width: 1120px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
}
.product_tab {
  overflow: hidden;
  width: 100%;
}

.product_tab li a.on {
  content: '';
  height: 5px;
  background: #029570;
}

.product_tab li {
  float: left;
  width: 50%;
  text-align: center;
}
.product_tab li a {
  display: block;
  line-height: 80px;
  font-size: 24px;
}

.product_contents .product_box {
  overflow: hidden;
}
.product_contents .product_box li {
  float: left;
  width: 23%;
  height: 250px;
  background: rgb(131, 131, 131);
  background: radial-gradient(circle, rgba(131, 131, 131, 0.10717790534182425) 6%, rgba(255, 255, 255, 1) 100%);
  margin: 20px 0 0 20px;
  text-align: center;
  position: relative;
  padding-top: 25px;
}
.product_contents .product_box li a {
  display: block;
  width: 100%;
  height: 100%;
}
.product_contents .product_box li img {
  width: 100%;
  height: 60%;
  transition: all 0.3s;
}
.product_contents .product_tit {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  color: #333;
}
.indi_box,
.corp_box {
  position: absolute;
  top: 90px;
  left: 0;
}
.product_box li a:hover img {
  transform: scale(1.1);
}
.section04 {
  width: 1120px;
  margin: 0 auto;
}
.section_tit {
  text-align: center;
  padding-bottom: 70px;
}
.news_wrap {
  text-align-last: left;
}
.news_wrap tr {
  vertical-align: top;
  height: 80px;
}
.news_wrap th {
  font-size: 14px;
}

.news_wrap td a:hover {
  text-decoration: underline;
}
.news_wrap ul {
  overflow: hidden;
  margin-top: 5px;
}
.news_wrap ul li {
  float: left;
  font-size: 11px;
  margin-right: 10px;
  border: 1px solid #999;
  padding: 2px 4px;
  border-radius: 3px;
}
.news_wrap ul li.news_impt {
  border-color: #f00;
  color: #f00;
}

/* section05 */
.pickup_wrap {
  height: 600px;
  background: url(../images/bg_main_vod.jpg) no-repeat;
  color: #fff;
  padding: 50px 0;
  margin: 50px 0;
  position: relative;
}
.pickup_slider .swiper-slide {
  width: 360px;
}
.pickup_slider a {
  color: #fff;
}
.pickup_slider .txt_wrap {
  text-align: center;
  transition: opacity 0.5s 0.3s;
  opacity: 0;
}
.pickup_slider .swiper-slide-active .txt_wrap {
  opacity: 1;
}
.pickup_slider .txt_wrap h3 {
  font-size: 20px;
  padding: 15px 0;
}
.pickup_slider .txt_wrap p {
  font-size: 14px;
}
.pickup_slider img {
  transition: opacity 0.5s 0.3s;
  opacity: 0.7;
}
.pickup_slider .swiper-slide-active img {
  opacity: 1;
}
.img_wrap img {
  width: 100%;
}
.pickup_wrap .pickup_slider .swiper-pagination {
  bottom: 20px;
}
