@charset "utf-8";
body,
div,
h1,
h2,
h3,
h4,
footer,
header,
section,
nav,
main,
p,
form,
input,
ul,
li,
img,
span,
a,
form,
select,
option,
strong,
label,
input,
button,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-text-size-adjust: none;
}
header,
section,
nav,
main,
footer {
  display: block;
}
img {
  border: none;
}
ul {
  list-style: none;
}

select,
textarea,
button {
  vertical-align: top;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
input[type="text"]::-ms-clear {
  display: none;
}
input[type="password"]::-ms-reveal {
  display: none;
}
select::-ms-expand {
  display: none;
}
*,
:before,
:after {
  box-sizing: border-box;
}
