@charset "UTF-8";
#wrap {
  background: url(../images/pc/front_15/pc_img_bg_02.png) no-repeat center top / cover;
}

/********** header **********/
#header a {
  color: #383838;
}
.gnb_open {
  fill: #989898;
}

/********** container **********/
#front15_container {
  width: 1180px;
  margin: 0 auto;
  /* padding-top: 554px; */
  margin-top: 554px;
}
.section_tit {
  position: relative;
  font-size: 42px;
  margin-bottom: 88px;
}
.section_tit::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 4px;
  background-color: #6eb1f0;
  left: 0;
  bottom: -40px;
  border-radius: 1.65em;
}
.main_title {
  display: none;
}
.m_br {
  display: none;
}
/******* section01 *******/
.section01 .top_box {
  /* height: 259px; */
  padding: 50px 0 30px 0;
  /* opacity: 0.9; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.09);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section01 .top_box .contents_list {
  display: flex;
  justify-content: space-evenly;
  color: #686868;
  font-size: 22px;
}
.section01 .top_box .contents_list li {
  width: calc(26.5%);
  position: relative;
}
.top_box .contents_list li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #6eb1f0;
  position: absolute;
  left: -12px;
  top: -3px;
}
.section01 .top_box > p {
  text-align: center;
  font-weight: 500;
  margin-top: 84px;
  font-size: 22px;
}
.section01 .btm_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.section01 .btm_box > p {
  width: 376px;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

.section01 .deco_underline {
  font-size: 30px;
  background: rgba(110, 177, 240, 0.3);
  border-radius: 5px;
}
.video_box {
  width: 677px;
  height: 356px;
  background: url(../images/pc/front_15/pc_img_notebook_01.svg) no-repeat center center / cover;
  position: relative;
}
.video_box video {
  width: 520px;
  margin-top: 14px;
  margin-left: 79px;
}
.btn_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 70px;
  background: none;
  border: none;
}

/******* section02 *******/
.section02 {
  margin-top: 260px;
  color: #383838;
}
.section02 .top_box {
}
.section02 .top_box .contents_list li {
  position: relative;
  font-size: 24px;
  /* width: 95%; */
  padding-left: 30px;
  margin-bottom: 12px;
}
.section02 .top_box .contents_list li::before {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.section02 .btm_box {
  background: linear-gradient(87.19deg, #ddeffc 6.88%, rgba(115, 175, 231, 0.43) 95.33%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 30px 20px 110px 30px;
  font-size: 34px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 55px 308px 55px 184px;
  margin: 70px 0 130px;
}
.section02 .btm_box p {
  margin-left: 44px;
}
.mobile {
  position: absolute;
}

/********************************** tablet *******************************/
@media all and (max-width: 1279px) {
  #wrap {
    background: none;
    height: auto;
  }
  #header {
    border-bottom: 1px solid #d2d2d2;
  }
  #front15_container {
    margin-top: 2.14em;
    width: 86.97vw;
  }
  .main_title {
    display: block;
    font-size: 3.12vw;
    padding: 1.66em 0 1.66em 1.41em;
    background: url(../images/tablet/t_05/t_05_img_01.png) no-repeat center right / contain;
    background-color: rgba(110, 177, 240, 0.2);
    border-radius: 0.41em;
  }
  .section_tit {
    font-size: 2.6vw;
    margin: 1.5em 0 1.5em;
  }
  .section_tit::after {
    width: 11.6766%;
    height: 12%;
    bottom: -0.5em;
  }
  .pc_br {
    display: none;
  }
  /* section01 */
  .section01 .top_box {
    padding: 1.71em 2.42em 1.21em;
    box-shadow: none;
    background-color: rgba(234, 234, 234, 0.3);
    letter-spacing: -0.01em;
  }
  .section01 .top_box .contents_list {
    flex-direction: column-reverse;
    font-size: 2.08vw;
    color: #989898;
    /* letter-spacing: -0.01em; */
  }
  .section01 .top_box .contents_list li {
    width: 100%;
    text-align: center;
    margin-bottom: 0.625em;
  }
  .section01 .top_box .contents_list li:first-child {
    margin-bottom: 0;
  }
  .section01 .top_box .contents_list li::before {
    display: none;
  }

  .section02 .top_box .contents_list li {
    padding-left: 0.93em;
  }
  .section02 .top_box .contents_list li::before {
    width: 0.31em;
    height: 0.31em;
  }
  .section01 .top_box > p {
    font-size: 2.34vw;
    color: #686868;
    margin-top: 1.44em;
    padding-top: 0.88em;
    border-top: 1px solid #eaeaea;
  }

  .section01 .btm_box {
    flex-direction: column;
    margin-top: 3.57em;
  }
  .section01 .btm_box > p {
    font-size: 2.08vw;
    width: 100%;
    font-weight: 300;
    padding-bottom: 1.75em;
  }

  .section01 .deco_underline {
    font-size: 2.86vw;
    font-weight: 700;
  }
  .video_box {
    width: 67.3652%;
    height: 100%;
    margin: 0 auto;
    background: none;
  }

  .video_box video {
    width: 100%;
    margin: 0;
    border-radius: 1.3vw;
  }
  .btn_play {
    width: 7.81vw;
  }
  /*   section02  */
  .section02 {
    margin-top: 3em;
  }
  .section02 .top_box .contents_list li {
    font-size: 2.08vw;
    margin-bottom: 0.75em;
    color: #686868;
  }
  .section02 .btm_box {
    flex-direction: column;
    padding: 0;
    background: none;
    box-shadow: none;
    margin: 1.8em 0 0;
  }
  .section02 .btm_box > p {
    font-size: 2.08vw;
    margin-left: 0;
    text-align: center;
    padding-top: 1em;
    line-height: 1.62em;
  }
  .section02 .deco_underline {
    font-size: 2.34vw;
    font-weight: 700;
  }
  .section02 .ic_target {
    width: 6.51vw;
  }
  .deco_underline {
    position: relative;
    background: none !important;
  }
  .deco_underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8%;
    width: 100%;
    height: 25%;
    background-color: rgba(110, 177, 240, 0.3);
  }
}

/********************************** mobile *******************************/
@media all and (max-width: 719px) {
  #front15_container {
    margin-top: 1.42em;
    width: 91.11vw;
  }
  .main_title {
    font-size: 4.44vw;
    padding: 1.26em 11.41em 1.26em 1.41em;
  }
  .section_tit {
    font-size: 3.88vw;
  }
  .section_tit::after {
    width: 17.5%;
  }
  .section01 .top_box {
    padding: 1em 0.85em;
  }
  .section01 .top_box .contents_list {
    font-size: 3.05vw;
  }
  .section01 .top_box > p {
    font-size: 3.33vw;
    margin-top: 1.16em;
    padding-top: 1.16em;
  }
  .section01 .btm_box {
    margin-top: 1.83em;
  }
  .m_br {
    display: block;
  }
  .video_box {
    width: 100%;
  }
  .video_box video {
    border-radius: 2.7vw;
  }
  .btn_play {
    width: 12.22vw;
  }
  .section02 .ic_target {
    width: 7.22vw;
  }
  .section01 .btm_box > p {
    font-size: 3.33vw;
  }
  .section02 .btm_box > p {
    font-size: 3.88vw;
  }
  .section01 .deco_underline {
    font-size: 3.88vw;
  }
  .section02 .deco_underline {
    font-size: 4.16vw;
  }
}
