@charset "UTF-8";
#wrap {
  background: url(../images/pc/pc_bg_noti_01.svg) no-repeat left top;
}
#front34_container {
  background: url(../images/pc/pc_bg_noti_02.svg) no-repeat right bottom;
}
#front34_container .container_inner {
  width: 1200px;
  margin: 0 auto;
}
#front34_container h2 {
  display: flex;
  align-items: baseline;
  background: url(../images/pc/pc_img_community_01.png) no-repeat left center;
  background-size: 22px;
  padding-left: 42px;
  margin: 30px auto 47px;
  text-align: center;
}
#front34_container h2 strong {
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  margin-right: 20px;
}
#front34_container h2 span {
  font-size: 18px;
  color: #686868;
}
#front34_container h3 {
  display: none;
}
/* form_search */
.form_row {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.form_row .form_title {
  width: 75px;
  font-size: 16px;
  color: #989898;
}
.form_row.datepicker_box .date {
  position: relative;
}
.form_row.datepicker_box .date.start {
  margin-right: 8px;
}

.form_row.datepicker_box input[type="date"] {
  position: relative;
  font-size: 14px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  width: 165px;
  height: 42px;
  padding-left: 14px;
}

/* .form_row.datepicker_box input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
  color: #686868;
}
.form_row.datepicker_box input[type="date"]:focus:before,
.form_row.datepicker_box input[type="date"]:valid:before {
  display: none;
} */
.form_row.datepicker_box .date:after {
  position: absolute;
  top: 7px;
  right: 8px;
  content: "";
  background: url(../images/ic_calendar.svg) no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  z-index: 0;
}
.form_row.datepicker_box input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 100;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding-right: 10px;
}

.form_row.search_box {
}
.form_row .search_input {
  width: 90%;
  height: 42px;
  padding: 10px 0 10px 10px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
}
.form_row .search_input input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 100%;
}
.form_search .btn_search {
  text-align: center;
}
.form_search .btn_search button {
  border: none;
  padding: 13px 48px;
  border-radius: 50px;
  background-color: #989898;
}
.form_search .btn_search button::before {
  content: "검색";
  color: #fff;
}
#front34_container .form_select {
  text-align: right;
  margin: 20px 0 12px;
}
#front34_container .form_select select {
  border: none;
  font-size: 16px;
  color: #686868;
  width: 130px;
  padding: 11px 12px;
  border-radius: 4px;
  background: url(../images/ic_expand_down.svg) no-repeat 90% center / 24px;
  background-color: #f7f7f7;
}

/* table */
.table_box {
  padding-bottom: 50px;
}
.table_box li {
  display: flex;
}
.table_head {
  border-top: 2px solid #989898;
  font-weight: 700;
  font-size: 15px;
  background: #f7f7f7;
  line-height: 52px;
}
.table_body {
  font-size: 14px;
  color: #666666;
}
.table_body li {
  border-bottom: 1px solid #c4c4c4;
  line-height: 46px;
}

.table_td {
  /* display: table-cell; */
  text-align: center;
}
.td--no,
.td--fix,
.td--date {
  width: 10.16%;
}
.td--title1 {
  text-align: left;
  width: 70.16%;
}
.td--view {
  width: 9.5%;
}
.table_head .td--title1 {
  text-align: center;
}
.td--title1 a {
  display: block;
  padding-left: 21px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.td--title1 a:hover {
  text-decoration: underline;
}
.td--new {
  background-color: #686868;
  color: #fff;
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 50px;
  margin-left: 8px;
}
/********************************** tablet *******************************/
@media all and (max-width: 1279px) {
  #wrap {
    background-size: 58.85vw;
  }
  #front34_container {
    background: none;
  }
  #front34_container .container_inner {
    width: 94.79vw;
  }
  #front34_container h2 {
    display: none;
  }
  #front34_container h3 {
    display: block;
    text-align: center;
    font-size: 4.16vw;
    font-weight: 500;
    margin-top: 0.5em;
  }
  .form_row.datepicker_box,
  .form_row .form_title,
  #front34_container .form_select {
    display: none;
  }

  .form_search {
    position: relative;
    width: 91.895%;
    margin: 9.11vw auto 3.9vw;
  }
  .form_row .search_input {
    width: 100%;
    font-size: 2.86vw;
    padding: 0.72em 1em;
    height: 2.7em;
  }
  .form_search .btn_search {
    position: absolute;
    top: 50%;
    right: 0.6em;
    transform: translateY(-50%);
  }
  .form_search .btn_search button {
    background: url(../images/ic_search.svg) no-repeat center center/ contain;
    width: 3.9vw;
    height: 3.9vw;
    padding: 0;
  }
  .form_search .btn_search button::before {
    display: none;
  }

  /* table */
  .table_head,
  .td--view,
  .td--new {
    display: none;
  }
  .table_body {
    border-top: 2px solid #989898;
  }
  .table_body li {
    flex-flow: row wrap;
    align-items: center;
    line-height: 1;
    height: 16.14vw;
    padding: 4.16vw 2.6vw;
    align-content: space-between;
  }
  .td--title1 {
    font-size: 2.6vw;
  }
  .td--title1 a {
    padding-left: 0;
  }
  .td--date {
    width: 100%;
    text-align: left;
    font-size: 2.34vw;
    color: #989898;
  }
  .td--fix {
    color: #fff;
    background-color: #686868;
    font-size: 1.95vw;
    padding: 0.4em 1em;
    border-radius: 2em;
    margin-right: 1em;
    width: auto;
  }
  .td--no {
    display: none;
  }
}

/********************************** mobile *******************************/
@media all and (max-width: 767px) {
  #wrap {
    background-size: 50vw;
  }
  #front34_container .container_inner {
    width: 91.11vw;
  }
  .form_search {
    width: 100%;
    margin-bottom: 2em;
  }
  .form_row .search_input {
    font-size: 3.33vw;
    border-radius: 0.16em;
  }
  .form_search .btn_search button {
    width: 5.55vw;
    height: 5.55vw;
  }
  .table_body li {
    height: 17.88vw;
    padding: 4.16vw 0;
  }
  .td--title1 {
    font-size: 3.33vw;
  }
  .td--fix {
    padding: 0.5em 1.2em;
    border-radius: 1.5em;
    margin-right: 0.8em;
  }
}
