@charset "UTF-8";
#wrap {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/********** header **********/
#header a {
  color: #383838;
}
.gnb_open {
  fill: #989898;
}
/********** pc container **********/
section {
  margin-top: 260px;
}
.service_container {
  width: 1180px;
  margin: 0 auto;
  margin-top: 554px;
}
.section_tit {
  position: relative;
  font-size: 42px;
  margin-bottom: 88px;
}
.section_tit::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 4px;
  left: 0;
  bottom: -40px;
  border-radius: 1.65em;
}
.section_tit--small {
  font-size: 24px;
  color: #686868;
}
.main_title {
  display: none;
}
.m_br {
  display: none;
}
.m_img {
  display: none;
}
/* section_box 공통 */
.section_box {
  display: flex;
  justify-content: space-between;
}
.service_txt {
  font-size: 24px;
  line-height: 135%;
}
.service_list {
  margin-top: 60px;
  font-size: 22px;
  line-height: 150%;
  color: #686868;
}
.service_list li {
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
.service_list li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #c6e9ac;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.section01 .section_box--right {
  border-radius: 42px 21px 135px 44px;
  border: 4px solid #c6e9ac;
  border-bottom: 12px solid #c6e9ac;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.08);
  margin-left: 37px;
  margin-top: -27px;
}

/* banner 공통 */
.banner {
  position: relative;
  opacity: 0.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 30px 20px 110px 30px;
  padding: 40px 0 40px 120px;
  background-image: url(../images/pc/front_32/pc_32_img_06.png), linear-gradient(271deg, rgba(177, 234, 172, 0.8) -24.03%, rgba(217, 241, 209, 0.8) 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center right, center center;
  background-size: contain;
  margin-bottom: 130px;
}
.banner h2 {
  font-size: 30px;
}
.banner_contents {
  position: relative;
}
.banner .info_txt {
  font-size: 18px;
  line-height: 130%;
  margin-top: 11px;
}
.btn_link {
  display: flex;
  align-items: center;
  border: 2px solid #6bc227;
  border-radius: 18px;
  color: #6bc227;
  padding: 5px 12px 5px 18px;
  background-color: #fff;
  font-size: 17px;
  position: absolute;
  top: 0;
  left: 185px;
}
.btn_link svg {
  width: 22px;
  height: 22px;
  margin-left: 2px;
}
/********************************** tablet *******************************/
@media all and (max-width: 1279px) {
  body #wrap {
    background-image: none;
  }
  #header {
    border-bottom: 1px solid #d2d2d2;
  }
  .service_container {
    margin-top: 2.14em;
    width: 86.97vw;
  }
  .main_title {
    display: block;
    font-size: 3.12vw;
    padding: 1.66em 0 1.66em 1.41em;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    border-radius: 0.41em;
    color: #404050;
  }
  .main_title p {
    font-size: 2.08vw;
    color: #686868;
  }
  .section_tit {
    font-size: 2.6vw;
    margin: 1.5em 0 1.5em;
  }
  section {
    margin-top: 4.28em;
  }
  .section_tit--small {
    font-size: 2.6vw;
    color: #383838;
  }
  .section_tit::after {
    width: 11.6766%;
    height: 12%;
    bottom: -0.5em;
  }
  .pc_br {
    display: none;
  }
  .m_br {
    display: block;
  }
  .m_img {
    display: block;
    width: 100%;
  }
  .section01 .m_img {
    width: 67.3652%;
    margin: 1.33em auto 1.46em;
  }
  /* tablet section_box 공통*/
  .section01 .section_box--right {
    display: none;
  }
  .service_txt {
    font-size: 1.95vw;
  }

  .service_list {
    width: 67.3652%;
    margin: 0 auto;
    font-size: 1.95vw;
  }
  .service_list li {
    margin-bottom: 1.06em;
    padding-left: 1.13em;
  }
  .service_list li::before {
    width: 0.33em;
    height: 0.33em;
  }

  /* tablet banner */
  .banner {
    background: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
  .banner h2 {
    font-size: 2.6vw;
    margin: 1.5em 0 1.5em;
    position: relative;
  }
  .banner h2::after {
    content: "";
    position: absolute;
    width: 11.6766%;
    height: 12%;
    left: 0;
    bottom: -0.5em;
    background: #c6e9ac;
  }
  .banner .info_txt {
    font-size: 2.34vw;
    margin-bottom: 1.22em;
  }
  .btn_link {
    color: #fff;
    background: #9adb68;
    border: none;
    font-size: 2.34vw;
    padding: 0.5em 0.7em 0.5em 1.33em;
    border-radius: 5.55em;
    top: 50%;
    left: 77.6%;
  }
  .btn_link svg {
    width: 1.66em;
    height: 1.66em;
    margin-left: 0.22em;
  }
}

/********************************** mobile *******************************/
@media all and (max-width: 719px) {
  .service_container {
    margin-top: 1.42em;
    width: 91.11vw;
  }
  .main_title {
    font-size: 4.44vw;
    padding: 1.26em 11.41em 1.26em 1.41em;
  }
  section {
    margin-top: 2.71em;
  }
  .section_tit {
    font-size: 3.88vw;
  }
  .section_tit::after {
    width: 17.5%;
  }
  .service_txt {
    font-size: 3.05vw;
  }
  .section01 .m_img {
    width: 100%;
    margin: 1.81em 0;
  }
  .service_list {
    width: 100%;
    font-size: 3.05vw;
  }

  /* mobile banner */
  .banner h2 {
    font-size: 3.88vw;
  }
  .banner h2::after {
    width: 15%;
  }
  .banner .info_txt {
    font-size: 3.05vw;
    margin-bottom: 0.9em;
    width: 70%;
  }
  .btn_link {
    font-size: 3.33vw;
    padding: 0.5em 0.66em 0.5em 1.16em;
    border-radius: 5.55em;
    left: 72%;
  }
  .btn_link svg {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.33em;
  }
}
