@charset "UTF-8";
@import url(../css/sidebar.css);
@import url(../css/statusbar.css);
/* panel_wrap style S*/
.panel_wrap {
  position: fixed;
  top: 0;
  left: 60px;
  bottom: 0;
}
.panel_wrap .panel_box {
  /* position: absolute; */
  /* height: 100%; */
  background: #ffffff;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}

.panel_box.home header {
  padding: 20px;
}

.panel_box.home .main_panel .tit_wrap .tit {
  font-size: 16px;
}
.panel_box.home .main_panel .tit_wrap p {
  font-size: 22px;
  /* font-weight: 500; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 17px 0;
}
.panel_box.home .main_panel header .overview_wrap {
  background: #1a63cd;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.panel_box.home .main_panel header .overview_wrap li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel_box.home .main_panel .overview_wrap .status {
  font-size: 15px;
  /* font-weight: 500; */
}
.panel_box.home .main_panel .overview_wrap .number {
  color: #fff;
  font-size: 21px;
  text-decoration: underline;
  margin-top: 10px;
}

.panel_box.home .main_panel section {
  padding: 20px;
  position: relative;
}
.panel_box.home .main_panel section::before {
  content: "";
  height: 10px;
  display: block;
  background-color: #f6f6f6;
  width: 375px;
  position: absolute;
  top: -10px;
  left: 0px;
}
.panel_box.home .main_panel section .sec_tit {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #4f4f4f;
  margin-bottom: 15px;
}
.panel_box.home .main_panel .predict_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #efefef;
  padding: 15px 0;
}
.panel_box.home .main_panel .predict_info li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #f2f2f2;
  padding: 0 20px;
}
.panel_box.home .main_panel .predict_info li:last-child {
  border-right: none;
}
.panel_box.home .main_panel .predict_info .date {
  font-size: 12px;
  font-weight: 300;
  color: #4f4f4f;
}
.panel_box.home .main_panel .predict_info .ic_status {
  margin: 5px 0;
}
.panel_box.home .main_panel table .status {
}
.panel_box.home .main_panel .btn_more {
  width: 100%;
  padding: 10px 0;
  border-radius: 3px;
}
.panel_box .main_panel {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/******************* sub_panel style sheet ********************/
.panel_box .sub_panel {
  width: 500px;
  /* height: 100%;
  position: fixed;
  top: 0;
  left: 435px; */
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.2s;
  transition: width 0.5s;
}
.panel_box .sub_panel.hide {
  width: 0;
  opacity: 0;
}
.sub_panel .sub_tit {
  font-size: 22px;
  font-weight: 700;
}
.panel_box.home .sub_panel .sub_info li {
  border-top: 1px solid #f2f2f2;
}
.panel_box.home .sub_panel .sub_info li:last-child {
  border-bottom: 1px solid #f2f2f2;
}
.panel_box.home .sub_panel .sub_info li a {
  display: block;
  padding: 15px 17px;
}
.sub_info li a .address_status {
  display: flex;
  align-items: center;
}
.address_status .status {
  font-size: 11px;
  width: 40px;
  line-height: 16px;
  border-radius: 3px;
  text-align: center;
  margin-right: 7px;
}
.address_status .add {
  font-size: 12px;
  margin-right: 7px;
}
.address_status .ic_status {
  width: 16px;
}
.address_status .ic_status img {
  width: 100%;
}
.btn_slide {
  position: absolute;
  top: 512px;
  right: -22px;
  filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.1));
  width: 22px;
  height: 56px;
  background: #ffffff;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #e0e0e0;
  border-radius: 0px 5px 5px 0px;
}
