@charset "UTF-8";
#login_wrap {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
}
#login_wrap .left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 66%;
  background: url(../images/login_bg.jpg) no-repeat center center;
  background-size: cover;
}
#login_wrap .right {
  position: fixed;
  top: 50%;
  right: 0;
  width: 34%;
  transform: translateY(-50%);
  text-align: center;
}

.tit_wrap .tit {
  font-size: 28px;
  font-weight: 300;
  padding: 28px 0 6px;
  letter-spacing: -0.04em;
}
.tit_wrap .tit span {
  font-weight: 500;
}
.tit_wrap .sub_tit {
  font-weight: 300;
  font-size: 16px;
}

#login_wrap .right .login_wrap {
  margin: 60px auto;
  width: 76%;
}
.login_wrap .login_input {
  background-color: #f7f8f9;
  padding: 18px 44px;
  margin-bottom: 12px;
  font-size: 16px;
}
.login_wrap .login_input input {
}
.login_wrap .btn_login a {
  display: block;
  font-size: 20px;
  color: #fff;
  padding: 18px 0;
}
