@charset "UTF-8";
#wrap {
  min-width: 1280px;
}

/*********************login_header 공통*******************************/
#header {
  height: 56px;
  background: #4b48fd;
  width: 100%;
}
#header .header_inner {
  width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.logo {
  width: 90px;
  line-height: 40px;
}
.logo a {
  display: block;
}
.logo img {
  width: 100%;
  height: 100%;
}
.gnb_wrap {
  width: 660px;
}
.gnb {
  display: flex;
  align-content: center;
  align-items: center;
}
.gnb li {
  width: 110px;
  text-align: center;
}
.gnb li a {
  color: #adabfb;
  display: block;
  line-height: 56px;
}
.gnb li a:hover {
  color: #fff;
  text-decoration: underline;
}
.intro_menu {
  display: flex;
  align-items: baseline;
}
.intro_menu .notice {
  display: block;
  width: 28px;
  height: 28px;
  background: url(../images/ic_notifications.svg) no-repeat center center / cover;
  margin: 17px 19px 0 49px;
}
.member_wrap {
  z-index: 200;
}
.member_wrap .user_name {
  display: inline-block;
  line-height: 31px;
  background: url(../images/ic_expand_down.svg) no-repeat 82px center / 17px;
  border-radius: 8px 8px 0px 0px;
  padding: 0px 22px 0 13px;
}
.member_wrap .user_name.on {
  background: url(../images/ic_expand_up.svg) no-repeat 82px center / 17px;
  background-color: #615eff;
}
.member_wrap .user_menu {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 8px 8px;
  text-align: center;
  padding: 0px 18px;
}
.member_wrap .user_menu li:first-child {
  border-bottom: 1px solid #7a77ff;
}
.member_wrap .user_menu a {
  line-height: 40px;
  display: block;
  color: #615eff;
  font-weight: 500;
  font-size: 13px;
}
.intro_menu .logout {
  margin: 0 35px;
}
.lang_wrap .lang {
  background-image: url(../images/ic_language.svg), url(../images/ic_expand_down.svg);
  background-repeat: no-repeat;
  background-position: left center, right center;
  background-size: 18px, 17px;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0px 18px 0 22px;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/*********************logout_header 공통*******************************/
.intro_menu a {
  color: #ffffff;
}
.logout_intro {
  overflow: hidden;
  margin: 0 38px 0 141px;
}
.logout_intro li {
  float: left;
}
.logout_intro li:first-child {
  margin-right: 34px;
}

/*********************footer 공통*******************************/
footer {
  width: 100%;
  background-color: #fff;
}
.footer_inner {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_l {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 490px;
}
.f_logo {
  width: 90px;
  height: 40px;
}
.f_logo img {
  width: 100%;
  height: 100%;
}
.copy .footer_menu {
  display: flex;
  align-items: center;
}
.copy .footer_menu li {
  margin-left: 38px;
}
.copy .footer_menu li:first-child {
  margin-left: 0;
}
.copy a {
  color: #383838;
  font-weight: 500;
}
.copy p {
  font-size: 13px;
  padding-top: 18px;
}
.footer_inner .sns {
  text-align: right;
}
.sns_list li {
  display: inline-block;
}
.sns .contact {
  color: #383838;
}
