@charset "utf-8";

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
#skipNavi {
  position: relative;
  width: 100%;
  z-index: 99999;
}
#skipNavi a {
  position: absolute;
  top: -100px;
}
#skipNavi a:hover,
#skipNavi a:focus,
#skipNavi a:active {
  position: absolute;
  width: 100%;
  top: 0;
  height: 65px;
  line-height: 65px;
  background-color: #00c8d4;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: none;
  z-index: 3;
}
caption,
.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

body,
input,
button,
select,
table {
  font-family: 'NanumSquareRound', '나눔스퀘어라운드', Arial, '아리엘', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}

a {
  text-decoration: none;
  color: #707070;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
button {
  cursor: pointer;
  background: none;
  border: none;
}
/* 폰트컬러 공통 */
.txt_white {
  color: #fff;
}
.txt_blue {
  color: #00c8d4;
}
