@charset "utf-8";

/**********************************header**************************/
#wrap {
  min-width: 1230px;
}
#header {
  position: relative;
  z-index: 9999;
}
#header .header_intro_wrap {
  width: 1230px;
  height: 50px;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
}
.header_intro {
  float: right;
}
.header_intro li {
  float: left;
  line-height: 50px;
  margin-left: 35px;
  font-weight: 700;
}
.header_intro li:hover {
  opacity: 0.7;
}
.header_intro li:first-child {
  margin-left: 0;
}

.header_intro li .reserve_btn {
  border: 1px solid #707070;
  border-radius: 25px;
  padding: 8px 16px;
  transition: all 0.2s ease;
}
.header_intro li .reserve_btn:hover {
  background-color: #707070;
  color: #fff;
}
.logo {
  position: absolute;
  top: 71px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  width: 130px;
}
.logo a {
  display: block;
}
.logo img {
  width: 100%;
  height: 100%;
}
.gnb_wrap {
  position: relative;
  margin-top: 130px;
}
.gnb {
  display: flex;
  width: 1230px;
  margin: 0 auto;
}

.gnb > li {
  width: 25%;
  position: relative;
  text-align: center;
}

.gnb > li .gnb_tit {
  font-size: 18px;
  line-height: 55px;
  font-weight: 800;
  display: block;
  position: relative;
  transition: all 0.2s linear;
  background: url(../images/wave.svg) no-repeat center 55px;
}
.gnb > li .gnb_tit:hover,
.gnb > li .gnb_tit.on {
  background-position: center 35px;
}

.gnb .shop {
  margin-left: 8%;
}

.gnb_depth2 {
  position: absolute;
  left: 0;
  top: 57px;
  width: 100%;
  height: 350px;
  z-index: 100;
}
.gnb_depth2 li a {
  display: inline-block;
  line-height: 30px;
  margin-top: 18px;
  border-radius: 30px;
  padding: 0 15px;
}

.gnb_depth2 li a:hover {
  background-color: #00c8d4;
  color: #fff;
}
.depth2_bg {
  width: 100%;
  height: 350px;
  top: 265px;
  position: absolute;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  box-sizing: border-box;
  background-color: #ffffff;
}

/****************************footer************************/
#footer_wrap {
  background-color: #00c8d4;
}
.footer {
  position: relative;
  width: 1230px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .company_info {
  margin-top: 25px;
  line-height: 2.5;
}
.footer .company_info a {
  color: #fff;
}
.footer_more {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 40px;
  align-items: flex-start;
}
.footer_more li {
  transition: all 0.2s ease-out;
  width: 40px;
  /* height: 50px; */
}
.footer_more li a {
  display: block;
  border: 3px solid #fff;
  border-radius: 10px;
  text-indent: -999em;
  box-sizing: border-box;
  height: 40px;
}
.footer_more li:hover {
  transform: translateY(-10%);
}
.footer_more li:first-child {
  margin-left: 0;
}
.footer_more .sns {
  background: url(../images/sns.png) no-repeat;
  background-size: 150px;
}
.footer_more .sns_1 {
  background-position: 1px -52px;
}
.footer_more .sns_2 {
  background-position: -34px -17px;
}
.footer_more .sns_3 {
  background-position: -35px -54px;
}

.footer_more .language {
  border: 3px solid #fff;
  border-radius: 10px;
  width: 107px;
  height: 40px;
  background: url(../images/arrow_down_white.png) no-repeat 95% center #00c8d4;
  background-size: 10px;
  padding-left: 5px;
  outline: none;
}
.footer_more .language_box {
  width: 105px;
  height: 50px;
}
.footer_more .up {
  background: url(../images/arrow_up.png) no-repeat 13px 12px;
}
